div {
	&.header {
		font-weight: bold;
	}
	&.blue {
		color: #1975FF;
		}

	&.boxed {
	border: solid black thin;
	padding: 5px 25px 5px 25px;
	}
}

nav { font-weight: bold;}

.continent-filter {
	display: none;
	}

.highlight {
	background-color: #FFB84D;
	color: #FFFFF;
}

