<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">Travel Almanac</div>
     </div>
</nav>
<div class="container">
    <div class="row">
	    <div class="col-sm-2"></div>
	    <div class="col-sm-8 blue">
			<h3>Add a New Entry to the Travel Calendar</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
	    <div class="col-sm-8">
			<%= render 'form' %>
		</div>
	</div>
</br>
	<div class="row">
		<div class="col-sm-2"></div>
	    <div class="col-sm-8">
			<%= link_to 'Back', locations_path %>
		</div>
	</div>
</div>

